<div class="container" ng-controller="MainCtrl">
  <div class="page-header">
    <div semilla-nombre></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="images/{{semilla.nombre | lowercase}}.jpg">
    </div>
    <div class="col-md-6">
      <ul class="nav nav-tabs nav-justified">
        <li ng-class="{active: tab===1}" ><a ng-click="tab=1">Semilla</a></li>
         <li ng-class="{active: tab===2}"><a ng-click="tab=2">Estadística</a></li>
         <li ng-class="{active: tab===3}"><a ng-click="tab=3">Evolución</a></li>
         </ul>
         <div ng-init="tab=1" class="tab-content">
           <div ng-show="tab===1">
              <semilla-data></semilla-data>
            </div>
         </div> 

<!-- Estadisticas-->
              <div ng-show="tab===2">
               <semilla-estadistica></semilla-estadistica>
              </div>

<!-- Evolucion-->
             <div ng-show="tab===3">
                <semilla-evolucion></semilla-evolucion>
              </div>
     </div>     
     </div>
 </div>        
     <!-- comments -->     
    <semilla-comentario></semilla-comentario> 
     <!-- /comments -->
            